<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/35c4e3d3-1ea6-4e7e-9cb9-7fafe270c20d/resourceGroups/Curso.NET/providers/Microsoft.ApiManagement/service/APICatalogoDotNet8/apis/APICatalogo</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/35c4e3d3-1ea6-4e7e-9cb9-7fafe270c20d/resourceGroups/Curso.NET/providers/Microsoft.Web/sites/CursoNET8</ResourceId>
    <ResourceGroup>Curso.NET</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cursonet8.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5c609a2c-5113-4d61-ab80-ff947127eddf</ProjectGuid>
    <PublishUrl>https://cursonet8.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CursoNET8</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Dependente do framework</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAqeR6awCEqEqeYWo8WFnTWAAAAAACAAAAAAAQZgAAAAEAACAAAACkMAUCE07xPI+L7SJHADZVGlU0fNWwbZLEEtaeyZG8kAAAAAAOgAAAAAIAACAAAAAdZi27gpcT37sajCMox19JOnu3xdNcPC1oU+h+rV374IAAAADhEOuuxO0U7snuvJrjyGp47RP1GR6DjIif/6YERQZLMYn798FCZGWnpNqxvfzwaU17Op15AUPaU14Ao6SuBGBZ1/tq1/zZff2SgYdAW5KKezi/VO/gP/NJm6pkn9tJj4KVDaMqbBEkpFYyGBYnFXNGFfmNzsqBv9jPr1tRHuXHsEAAAACyDl7XBO9v9dpBITXgKaeOBuQhyjf/7EzywxBG/MKtSbdUFJIJXYEPHLnH2+zIcgR4x7yUlGxXxyVTYKwFOumf</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>